





/* */


.aboutSection {
  padding: 4rem 2rem;
}

.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
}

.textColumn {
  max-width: 600px;
  opacity:0;
}



.logo {
  position: relative; /* Required for Next Image to fill this container */
  width: 80%;
    max-width: 450px;
  margin-bottom: 2rem;
  aspect-ratio: 3 / 1; /* Adjust depending on image shape */
  margin-bottom: 2rem;
  margin-top: 0;
}

.logoImg {
  width:100%;
  object-fit: contain; /* Ensures it doesn't stretch weirdly */
}

.highlight {
  color: #ff4b5a;
  font-weight: bold;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
}

.imageGrid {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.img{
  opacity:0;
  width: 90%;
  max-width: 500px;
  min-width: 380px;
  border-radius: 0.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.imageStack{
  display: none;
}



  
      

.foundersImage {
  /* max-width: 80%; */
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.caption {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
  text-align: center;
}

/* Responsive stacking */
@media (max-width: 1200px) {
  .aboutGrid {
   display: flex;
   flex-direction: column;
   margin-bottom: 0;

  }

  .imageColumn {
    order: -1; /* Put image on top on mobile */
 
  }
  .imageGrid{
    display: flex;
    gap:1rem;
    margin-top: -1rem;
    width:100%;
    
  }

  .img{
     display: none;
  }

  .mobileImg{
   width:35vw;
   height:auto;
   max-width: 370px;
   min-width: 220px;
  }

 .imageStack {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    position: relative;
    margin-bottom: 2rem;
  }



  .bottom {
    grid-column: 9 / -1;
    grid-row: 1;
  }

  .top {
      grid-column: 3/ span 16;
      grid-row: 1; 
      padding-top: 20%;
      z-index: 1; 
    }

  


  .logo {
    max-width: 260px;
  }
}
