.contactSection{
    margin-top: 2rem;
}

 .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:3rem;
   min-height: 100dvh;
  height: auto;
  overflow: visible;   
  
}
.contactContainer{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.textBox{
    overflow:hidden;
}

.textBox > *{
    opacity:0;
    transform: translateY(60px);
}

.contactContainer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
     flex-wrap: wrap;
    padding: 2rem;
   margin-bottom: 1rem;


}
.bold{
    font-weight: 500;
}


.icon{
   height:50px;
   width:auto;
    margin-bottom: 2rem;
  
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;

}

.iconRow img{
    height:50px;
    width:auto;
}

 
   

  


   .mapContainer{

       width: 100%;
      height: 15rem;
  background-color: red;
        
    }   