.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* or whatever your background is */
  z-index: 9999;
  overflow: hidden;
  background:var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoDiv{
    width:50%;
}

.logo{
    width:100%;
    height: auto;
 
    animation: fadeIn 1 ease-in 
}


@-webkit-keyframes fadein {
     0%   { opacity: 0;
            scale:0.9 }
    100% { opacity: 1;
    scale:1 }
}

@-moz-keyframes fadein {
     0%   { opacity: 0;
            scale:0.9 }
      100% { opacity: 1;
    scale:1 }
}

@keyframes fadein {
    0%   { opacity: 0;
            scale:0.9 }
      100% { opacity: 1;
    scale:1 }
}

.logo {
     width:100%;
    height: auto;
    color: white;
    -webkit-animation: fadein 2s ease-in alternate infinite;
       -moz-animation: fadein 2s ease-in alternate infinite;
            animation: fadein 2s ease-in alternate infinite;
}

