.sideBar{
    position: sticky;
  top: 0;
  left:0;
  bottom:0;
   width:20vw;
   min-width: 230px;
  height: 100vh;
  min-height:500px;
  padding: 0;
 margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color:transparent;
}

.navContainer {
 
  height:100%;
  width:100%;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  transition: background-color 0.5s ease; 
}





.title{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    width:100%;
    opacity: 0;
    line-height: 0.9;
    font-style: italic;
    cursor: pointer;
}



.logo {
  margin-right: -1rem;
  position: relative; /* Required for Next Image to fill this container */
  width: 80%;
  min-width: 210px;
  aspect-ratio: 3 / 1; /* Adjust depending on image shape */
  margin-bottom: 2rem;
  margin-top: 0;
}


.logo > img{
  width:100%;
 filter: brightness(0) saturate(100%) invert(100%) sepia(41%) saturate(2005%) hue-rotate(293deg) brightness(114%) contrast(101%); 
}

.subtitle{
    font-size: clamp(1.5rem, 2vw, 3rem);
    color: white;
    letter-spacing: -1px;
    text-align: right;
    font-weight: 300;
    font-style: normal;
}





.navList{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   padding: 0;
   margin: 0; 
   gap:2rem;
   
  
  
}

.navList li{
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: clamp(2.5rem, 2vw, 5rem);
    letter-spacing: -2px;
    position: relative;
    opacity: 0;
    font-weight: 200;
}



.navList li:hover {
  opacity: 1;

}

.navList li::after {
  content: "";
  position: absolute;
  bottom: 5px; /* adjust based on font size */
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color:  white;
  transition: transform 0.4s ease-in-out;
}

.navList li:hover::after {
  transform: translateX(-50%) scaleX(1);
}


.navList li.active::after{
   transform: translateX(-50%) scaleX(1);
}


@media (max-width: 768px) {
  .sideBar {
    display: none;
  }
}