.menuSection {

  padding: 4rem 6rem;
font-family: var(--work_sans);
}

.menuTitle {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
  font-weight: 400;
  color: #333;
 
}


.menuGroup {
  margin-bottom: 3rem;
}

.menuGroup h2 {
  font-size: 1.5rem;
  color: #FF6F61;
  margin-bottom: 1rem;
  border-bottom: 1px solid #FF6F61;
  padding-bottom: 0.5rem;
}

.item {
  margin-bottom: 1.5rem;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #222;
}

.meta {
  font-size: 0.9rem;
  color: #888;
  margin-left: 1rem;
}

.item p {
  margin: 0.25rem 0 0;
  font-size: 1rem;
  line-height: 1.4;
}
